.sidebar {
  width: 300px;
  min-height: 100vh;
  padding: 20px 40px 0 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid rgb(192, 190, 190);
  position: fixed;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.sidebar li a {
  text-decoration: none;
}

.icon {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.linkText {
  margin-left: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
}

.sidebar li .linkText:hover {
  color: #1da1f2;
}

.userSection {
  padding-top: 20px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.username {
  font-size: 18px;
  margin-right: 30px;
}

.userButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width: 1250px) {
  .sidebar {
    width: 170px;
    padding: 20px 70px 0 70px;
  }

  .linkText {
    display: none;
  }

  .postBtn {
    margin-left: -25px;
    padding: 40% 70%;
  }

  .userButton .username,
  .userButton .icon {
    display: none;
  }

  .profileImg {
    margin-left: -14px;
  }
}
